@media screen and (min-width: 1200px) {

    main {
        display: flex;
        justify-content: center;
    }

    #all-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    
    
}